@model List<Matratt>

<h1>Din beställning</h1>
<hr />
<ul>
    @foreach (var item in Model)
    {
        <div class="wrapper">
            <li class="name">
                <a asp-controller="ShoppingCart"
                   asp-action="DeleteItem"
                   asp-route-id="@item.MatrattId"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-update="#cart">
                    <img src="~/img/minus-square.svg" class="remove" />
                </a>
                @item.MatrattNamn
                <span class="price">@item.Pris kr</span>
            </li>
        </div>
    }
</ul>
<h3>Total: @Model.Sum(i => i.Pris) kr</h3>
<div class="button-wrapper">
    <input type="button" class="button" value="Fortsätt till kassan" onclick="location.href='@Url.Action("Checkout", "ShoppingCart")'" />
</div>