@inject IUserService UserService
@inject ICartService CartService
@model CheckoutViewModel

@{
    ViewData["Title"] = "Kassa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="checkout">
    <div class="container">
        <!-- CART -->
        <div id="items">
            <h1>Din beställning</h1>
            <ul>
                @foreach (var item in Model.Items)
                {
                    <div class="wrapper">
                        <li class="name">
                            <div id="counter">
                                <span class="counter-value">Antal: @item.ItemCount</span>
                            </div>
                            @item.ItemName
                            <span class="price">@item.ItemTotal kr</span>
                        </li>
                    </div>
                }
            </ul>
            <hr />
            <div id="calculation">
                <!-- PREMIUM USER -->
                @if (await UserService.IsUserPremium(Model.User) == true)
                {
                    <div class="discount-group">
                        <p>Din nuvarande bonuspoäng: @Model.Kund.BonusPoints poäng</p>
                    </div>

                    @if (CartService.HasPointsForFreeDish(Model.Kund) == true)
                    {
                        <div class="discount-group">
                            <p>Grattis!</p>
                            <p>Du har tjänat ihop 100 bonuspoäng så därför bjuder vi dig på en maträtt.</p>
                        </div>
                    }

                    <div class="discount-group">
                        <p>Antal bonuspoäng för den här beställningen: @Model.BonusPoints poäng</p>
                    </div>

                    <div class="discount-group">
                        <p class="first-total">Total: @Model.Total kr</p>
                        @if (CartService.HasPointsForFreeDish(Model.Kund) == true)
                        {
                            <p class="discount">Bonusrabatt: -@CartService.GetBonusDiscount(Model.Kund) kr</p>
                        }

                        @if (CartService.FetchCartItems().Count() >= 3)
                        {
                            <p class="discount">Premiumrabatt: -@CartService.GetPremiumDiscount(Model.Kund) kr</p>
                        }
                    </div>
                    <h3 class="discount-total">Total (inkl. rabatter): @CartService.FetchDiscountCartTotal(Model.Kund) kr</h3>
                }
                else
                {
                    <h3 class="total">Total: @Model.Total kr</h3>
                }
            </div>
        </div>

        <!-- FORM -->
        <form asp-controller="Order" asp-action="Checkout" method="post">
            @if (await UserService.IsUserPremium(Model.User) == true)
            {
                <input type="hidden" asp-for="Kund.BonusPoints" />
            }

            <input type="hidden" asp-for="Kund.Namn" />
            <input type="hidden" asp-for="Kund.Email" />
            <input type="hidden" asp-for="Kund.Gatuadress" />
            <input type="hidden" asp-for="Kund.Postnr" />
            <input type="hidden" asp-for="Kund.Postort" />
            <input type="hidden" asp-for="Kund.Telefon" />

            <!-- Hidden ID -->
            <input type="hidden" asp-for="Kund.KundId" />

            <div class="button-group">
                <input type="submit" value="Slutför köp" class="button" />
            </div>
        </form>
    </div>
</section>