@model  OrderViewModel

@{
    ViewData["Title"] = "Orderbekräftelse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="confirmation">
    <div class="container">
        <div class="header">
            <h1>Tack för din beställning!</h1>
            <hr />
        </div>
        <div>
            <ul>
                @foreach (var order in @Model.Order.BestallningMatratt)
                {
                <div class="wrapper">
                    <li class="name">
                        <span class="counter">Antal: @order.Antal</span>
                        @order.Matratt.MatrattNamn
                        <span class="price">@order.Matratt.Pris kr</span>
                    </li>
                </div>
                }
            </ul>
            <h3>Total: @Model.Order.Totalbelopp kr</h3>
        </div>
        <div class="information">
            <h2>Uppgifter</h2>
            <ul>
                <li>@Model.Order.BestallningDatum</li>
                <li>@Model.Customer.Namn</li>
                <li>@Model.Customer.Postnr @Model.Customer.Postort</li>
                <li>@Model.Customer.Telefon</li>
                <li>@Model.Customer.Email</li>
            </ul>
        </div>
    </div>
</section>