@model  OrderViewModel

@{
    ViewData["Title"] = "Orderbekräftelse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="confirmation">
    <div class="container">
        <div class="header">
            <h1>Orderbekräftelse</h1>
            <hr />
        </div>
        <h3>Tack för din beställning!</h3>
        <!-- TODO: LOOP OUT ALL ORDER ITEMS -->
        <ul>
            <li>Datum: @Model.Order.BestallningDatum</li>
            <li>Namn: @Model.Customer.Namn</li>
            <li>Adress: @Model.Customer.Postnr @Model.Customer.Postort</li>
            <li>Total: @Model.Order.Totalbelopp kr</li>
        </ul>
    </div>
</section>