@model MenuViewModel

@{
    ViewData["Title"] = "Beställa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="menu">
    <div class="container">
        <div id="pizza">
            <h1>Pizza</h1>
            <ul id="menu-list">
                @foreach (var pizza in Model.PizzaDishes)
                {
                    <a asp-controller="Cart" asp-action="AddItem" asp-route-id="@pizza.MatrattId">
                        <div class="wrapper">
                            <li class="name">@pizza.MatrattNamn <img src="~/img/plus-square.svg" class="add" /><span class="price">@pizza.Pris kr</span></li>

                            @foreach (var ingredient in @pizza.MatrattProdukt)
                            {
                                <li class="ingredients">@ingredient.Produkt.ProduktNamn</li>
                            }
                        </div>
                    </a>
                }
            </ul>
        </div>

        <div id="pasta">
            <h1>Pasta</h1>
            <ul id="menu-list">
                @foreach (var pasta in Model.PastaDishes)
                {
                    <a asp-controller="Cart" asp-action="AddItem" asp-route-id="@pasta.MatrattId">
                        <div class="wrapper">
                            <li class="name">@pasta.MatrattNamn <img src="~/img/plus-square.svg" class="add" /><span class="price">@pasta.Pris kr</span></li>

                            @foreach (var ingredient in @pasta.MatrattProdukt)
                            {
                                <li class="ingredients">@ingredient.Produkt.ProduktNamn</li>
                            }
                        </div>
                    </a>
                }
            </ul>
        </div>

        <div id="salad">
            <h1>Sallad</h1>
            <ul id="menu-list">
                @foreach (var salad in Model.SaladDishes)
                {
                    <a asp-controller="Cart" asp-action="AddItem" asp-route-id="@salad.MatrattId">
                        <div class="wrapper">
                            <li class="name">@salad.MatrattNamn <span><img src="~/img/plus-square.svg" class="add" /></span><span class="price">@salad.Pris kr</span></li>

                            @foreach (var ingredient in @salad.MatrattProdukt)
                            {
                                <li class="ingredients">@ingredient.Produkt.ProduktNamn</li>
                            }
                        </div>
                    </a>
                }
            </ul>
        </div>
    </div>
</section>