@model MenuViewModel

@{
    ViewData["Title"] = "Beställa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="menu">
    <div class="container">
        <!-- CART -->
        <div id="cart">
            <h1>Din beställning</h1>
            <hr />
            <ul>
                @foreach (var item in Model.CartItems)
                {
                    <div class="wrapper">
                        <li class="name">
                            <div id="counter">
                                <a asp-controller="Cart"
                                   asp-action="DeleteItem"
                                   asp-route-id="@item.ItemID"
                                   data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#cart">
                                    <img src="~/img/minus.svg" class="delete" />
                                </a>
                                <span class="counter-value">@item.ItemCount</span>
                                <a asp-controller="Cart"
                                   asp-action="AddItem"
                                   asp-route-id="@item.ItemID"
                                   data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#cart">
                                    <img src="~/img/plus.svg" class="add" />
                                </a>
                            </div>
                            @item.ItemName
                            <span class="price">@item.ItemTotal kr</span>
                        </li>
                    </div>
                }
            </ul>
            <h3>Total: @Model.CartItems.Sum(i => i.ItemTotal) kr</h3>
            <div class="button-wrapper">
                <input type="button" class="button" value="Fortsätt till kassan" onclick="location.href='@Url.Action("Checkout", "Cart")'" />
            </div>
        </div>

        <!-- MENU -->
        <div id="pizza">
            <h1>Pizza</h1>
            <ul id="menu-list">
                @foreach (var pizza in Model.PizzaDishes)
                {
                    <a asp-controller="Cart"
                       asp-action="AddItem"
                       asp-route-id="@pizza.MatrattId"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       data-ajax-update="#cart">
                        <div class="wrapper">
                            <li class="name">@pizza.MatrattNamn <img src="~/img/plus-square.svg" class="add" /><span class="price">@pizza.Pris kr</span></li>

                            @foreach (var ingredient in @pizza.MatrattProdukt)
                            {
                                <li class="ingredients">@ingredient.Produkt.ProduktNamn</li>
                            }
                        </div>
                    </a>
                }
            </ul>
        </div>

        <div id="pasta">
            <h1>Pasta</h1>
            <ul id="menu-list">
                @foreach (var pasta in Model.PastaDishes)
                {
                    <a asp-controller="Cart"
                       asp-action="AddItem"
                       asp-route-id="@pasta.MatrattId"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       data-ajax-update="#cart">
                        <div class="wrapper">
                            <li class="name">@pasta.MatrattNamn <img src="~/img/plus-square.svg" class="add" /><span class="price">@pasta.Pris kr</span></li>

                            @foreach (var ingredient in @pasta.MatrattProdukt)
                            {
                                <li class="ingredients">@ingredient.Produkt.ProduktNamn</li>
                            }
                        </div>
                    </a>
                }
            </ul>
        </div>

        <div id="salad">
            <h1>Sallad</h1>
            <ul id="menu-list">
                @foreach (var salad in Model.SaladDishes)
                {
                    <a asp-controller="Cart"
                       asp-action="AddItem"
                       asp-route-id="@salad.MatrattId"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       data-ajax-update="#cart">
                        <div class="wrapper">
                            <li class="name">@salad.MatrattNamn <span><img src="~/img/plus-square.svg" class="add" /></span><span class="price">@salad.Pris kr</span></li>

                            @foreach (var ingredient in @salad.MatrattProdukt)
                            {
                                <li class="ingredients">@ingredient.Produkt.ProduktNamn</li>
                            }
                        </div>
                    </a>
                }
            </ul>
            <div class="push"></div>
        </div>
    </div>
</section>