@model List<CartItemViewModel>

<h1>Din beställning</h1>
<hr />
<ul>
    @foreach (var item in Model)
    {
        <div class="wrapper">
            <li class="name">
                <a asp-controller="Cart"
                   asp-action="DeleteItem"
                   asp-route-id="@item.ItemID"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-mode="replace"
                   data-ajax-update="#cart">
                    <img src="~/img/minus-square.svg" class="remove" />
                </a>
                <span>@item.ItemCount</span>
                @item.ItemName
                <span class="price">@item.ItemTotal kr</span>
            </li>
        </div>
    }
</ul>
<h3>Total: @Model.Sum(i => i.ItemTotal) kr</h3>
<div class="button-wrapper">
    <input type="button" class="button" value="Fortsätt till kassan" onclick="location.href='@Url.Action("Checkout", "Cart")'" />
</div>