@model CreateDishViewModel

@{
    ViewData["Title"] = "Skapa ny maträtt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="create-dish">
    <div class="container">
        <div class="header">
            <h1>Skapa ny maträtt</h1>
            <hr />
        </div>

        <div id="dish">
            <form asp-controller="Dish" asp-action="CreateDish" method="post">

                <div class="form-group">
                    <label>Kategori: </label>
                    <select class="category-select" asp-for="Category"
                            asp-items="@(new SelectList(Model.Categories, "MatrattTyp1", "Beskrivning"))">
                        <option disabled selected value">Välj en kategori</option>
                    </select>
                    <span asp-validation-for="Category"></span>
                </div>

                <div class="form-group">
                    <label>Namn: </label>
                    <input type="text" asp-for="Name" maxlength="50" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label>Beskrivning: </label>
                    <textarea class="description" asp-for="Description" maxlength="250"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label>Pris: </label>
                    <input type="text" asp-for="Price" maxlength="20" />
                    <span asp-validation-for="Price"></span>
                </div>

                <!-- Ingredients from Dish -->
                <div id="ingredients">
                    <label>Ingredienser: </label>
                    <ul>
                        @foreach (var ingredient in Model.DishIngredients.OrderBy(p => p.ProduktId))
                        {
                            <div class="wrapper">
                                <li>
                                    @ingredient.ProduktNamn
                                    <a asp-controller="Dish"
                                       asp-action="DeleteIngredient"
                                       asp-route-ingredientID="@ingredient.ProduktId"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-mode="replace"
                                       data-ajax-update="#ingredients">
                                        <img src="~/img/trash-alt.svg" class="delete" />
                                    </a>
                                </li>
                            </div>
                        }
                    </ul>
                    <span class="ingredient-error">@ViewBag.IngredientError</span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Spara" class="button" />
                </div>
            </form>
        </div>

        <!--All Ingredients -->
        <div id="all-ingredients">
            <label>Alla ingredienser: </label>
            <ul>
                @foreach (var ingredient in Model.Ingredients.OrderBy(x => x.ProduktNamn))
                {
                    <div class="wrapper">
                        <li>
                            <span class="ingredient-name">@ingredient.ProduktNamn</span>
                            <a asp-controller="Dish"
                               asp-action="AddIngredientToSession"
                               asp-route-ingredientID="@ingredient.ProduktId"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#ingredients">
                                <img src="~/img/plus-square.svg" class="add" />
                            </a>
                        </li>
                    </div>
                }
            </ul>
        </div>

    </div>
</section>